/*** variables ***/

:root {
    --red-wine-on: #b30000;
    --red-wine-off: #800000;
    --red-wine-soft: #630c0c93;
    --black: #181818;
    --white: #f9f9f9;
}

/*** general ***/

* {
    font-family: monospace;
    background-color: var(--black);
    color: var(--white);
    font-size: 15px;
}

/*** form ***/

.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--black);
    margin: 50px 50px;
    padding: 20px;
}

.form {
    min-width: 400px;
    flex: 1;
    text-align: center;
    padding: 30px;
}

.form__input {
    width: 100%;
    padding: 7px;
    margin: 6px 0 6px 10px;
    border: none;
    border-bottom: 4px solid var(--red-wine-off);
    background-color: transparent;
    color: var(--white);
}

.form__input:focus {
    background: linear-gradient(
        to bottom, 
        transparent,
        var(--red-wine-soft)
    );
    outline: none;
}

.form textarea {
    min-height: 140px;
    resize: none;
}

.form input[type="submit"] {
    background: linear-gradient(
        to bottom, 
        transparent,
        var(--red-wine-off)
    );
    width: 545px;
    font-size: 22px;
    font-family: monospace;
    font-weight: bold;
    color: var(--black);
    cursor: pointer;
    border-bottom: none;
    padding: 22px;
    border-radius: 50px;
    margin-top: 45px;
}

.form input[type="submit"]:hover {
    background: linear-gradient(
        to bottom, 
        transparent,
        var(--red-wine-on)
    );
    cursor: pointer;
    color: var(--white);
    transition: 2s;
}

.form input[type="submit"]:active {
    background: linear-gradient(
        to top, 
        transparent,
        var(--red-wine-on)
    );
    cursor: pointer;
    color: var(--white);
}